# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/mod/libs/sodium-neoforge-0.6.0-alpha.1-modonly.jar
mod/libs/glsl-transformation-lib-1.0-SNAPSHOT.jar
mod/libs/iris-neoforge-1.8.0-beta.2+mc1.21.1.jar
